
.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {

}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {

}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#animate-area {

  background-image: url(https://wildtrack-stage.r5lavlcnuhg6m.us-east-1.cs.amazonlightsail.com/static/images/Zoe%20and%20Sky%20sunset.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite alternate;
}
html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}